# Be sure to update the install_requires variable in the setup.py file.
# --------

# for bitcoin primitives and RPC
# need python-bitcoinlib>=0.11.0dev
-e git://github.com/petertodd/python-bitcoinlib.git@master#egg=python-bitcoinlib

# for command line argument parsing stuff
click==7.0
graphviz
