# Be sure to update the install_requires variable in the setup.py file.
# --------

# for bitcoin primitives and RPC
python-bitcoinlib>=0.10.2
bitcoin-utils==0.4.1

# for command line argument parsing stuff
click==7.0
